.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.913086;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc1{color:rgb(5,99,193);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:56.000000px;}
.fs2{font-size:64.000000px;}
.fs4{font-size:80.000000px;}
.fs1{font-size:96.000000px;}
.fs0{font-size:128.000000px;}
.y0{bottom:0.000000px;}
.ye{bottom:176.675968px;}
.y18{bottom:183.437294px;}
.yd{bottom:196.786457px;}
.y17{bottom:200.237297px;}
.y16{bottom:217.037300px;}
.y15{bottom:237.934507px;}
.yc{bottom:254.417393px;}
.y11{bottom:254.931580px;}
.y14{bottom:257.238678px;}
.y13{bottom:274.038681px;}
.y10{bottom:274.131580px;}
.yb{bottom:274.527882px;}
.y12{bottom:293.114902px;}
.yf{bottom:294.242069px;}
.ya{bottom:356.362350px;}
.y7{bottom:371.258842px;}
.y4{bottom:377.309761px;}
.y9{bottom:377.383331px;}
.y6{bottom:388.058846px;}
.y3{bottom:398.330738px;}
.y8{bottom:406.183331px;}
.y5{bottom:407.135067px;}
.y2{bottom:459.808006px;}
.y1{bottom:494.368004px;}
.h5{height:40.796875px;}
.h3{height:46.625000px;}
.h6{height:58.281250px;}
.h4{height:68.718750px;}
.h2{height:69.937500px;}
.h1{height:93.250000px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x1{left:7.200012px;}
.x3{left:29.385826px;}
.x4{left:222.214706px;}
.x5{left:225.157883px;}
.x2{left:436.591003px;}
.x7{left:438.850342px;}
.x6{left:678.239990px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs3{font-size:74.666667pt;}
.fs2{font-size:85.333333pt;}
.fs4{font-size:106.666667pt;}
.fs1{font-size:128.000000pt;}
.fs0{font-size:170.666667pt;}
.y0{bottom:0.000000pt;}
.ye{bottom:235.567958pt;}
.y18{bottom:244.583059pt;}
.yd{bottom:262.381943pt;}
.y17{bottom:266.983063pt;}
.y16{bottom:289.383067pt;}
.y15{bottom:317.246010pt;}
.yc{bottom:339.223190pt;}
.y11{bottom:339.908773pt;}
.y14{bottom:342.984904pt;}
.y13{bottom:365.384908pt;}
.y10{bottom:365.508774pt;}
.yb{bottom:366.037175pt;}
.y12{bottom:390.819870pt;}
.yf{bottom:392.322759pt;}
.ya{bottom:475.149801pt;}
.y7{bottom:495.011790pt;}
.y4{bottom:503.079681pt;}
.y9{bottom:503.177775pt;}
.y6{bottom:517.411794pt;}
.y3{bottom:531.107651pt;}
.y8{bottom:541.577774pt;}
.y5{bottom:542.846756pt;}
.y2{bottom:613.077342pt;}
.y1{bottom:659.157338pt;}
.h5{height:54.395833pt;}
.h3{height:62.166667pt;}
.h6{height:77.708333pt;}
.h4{height:91.625000pt;}
.h2{height:93.250000pt;}
.h1{height:124.333333pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x1{left:9.600016pt;}
.x3{left:39.181101pt;}
.x4{left:296.286275pt;}
.x5{left:300.210510pt;}
.x2{left:582.121338pt;}
.x7{left:585.133789pt;}
.x6{left:904.319987pt;}
}
